*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  scroll-behavior: smooth;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  font-size: 1.6rem;
}

/* First Nav */
.first-nav{
  font-size: 1.4rem;
  font-weight: 100;
  padding: 0% 10%;
  width: 100%;
  height: 5vh;
  background-color: #f8f8f8;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-nav .item-1{
  flex-grow: 1;
  justify-items: left;
}
.first-nav .item-2{
  flex-grow: 1;
}
.first-nav .item-3{
  flex-grow: 6;
  text-align: end;
}
.first-nav .item-3 img{
  height: 4vh;
  width: auto;
}

/* Main Navbar */
.main-navbar{
  display: flex;
  flex-wrap: wrap;
  padding: 0% 10%;
  width: 100%;
  height: 10vh;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: space-between;
  background-color: #f89521;
  z-index: 10;
}
.nav-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.nav-logo img{
  height: 5vh;
  width: auto;
  /* align-self: center; */
}
.nav-links{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.nav-links a{
  text-decoration: none;  
  color: white;
  text-transform: uppercase;  
}
.nav-links .nav-text{
  display: flex;
  align-items: center;
  height: 10vh;
}
.nav-text:hover{
  border-bottom: 3px solid white;
  /* border-top: 3px solid white */
  animation: line-under 0.7s;
}
@keyframes line-under{
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}

/* Footer */
#main-footer{
  /* background-color: #f89521; */
  color: white;
  height: 95vh;
  width: 100%;
  padding: 0% 10%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  /* Scroll through the background pic */
  background: url("./elements/W-H-1.jpg") #f89521;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
}
#main-footer a{
  color: white;
  text-decoration: none;
}
#main-footer li{
  list-style: none;
}
.footer-links{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links >*{
  width: 50vh;
  height: 50vh;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-links >* div{
  font-size: 2rem;
  font-weight: bold;
  padding: 1vh 0;
}
.footer-brands{
  display: inherit;
  justify-content: space-evenly;
}
.footer-brands img{
  width: 15rem;
  height: auto;
}
.footer-contact{
  display: flex;
  flex-direction: column;
}
.contact-icons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.noble-copyright{
  width: 100%;
  height: 5vh;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}
